html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #2870BB;
  background-image: url('../img/back.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  font-weight: 400;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.v-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: gray;
  border: none;
  border-radius: 5px;
}

.btn__act {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

/** {
  outline: 1px solid gray;
}*/

.page__header {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.page__title {
  width: 428px;
  height: 65px;
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 400;
  color: white;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
}

.screen {
  /* */
}

.screen__title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 30px;
  font-size: 40px;
  color: #BEE0FF;
}

/* Экран ещё не реализовано */

.not-dev-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.not-dev__block {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 40px;
  padding: 50px 110px 30px 50px;

  width: 870px;
  min-height: 400px;
  background-color: #ffffff;

  background-image: url(../img/elza.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  border-radius: 26px;
  border: 5px solid white;
  color: #002A54;
}

.not-dev__text {
  width: 400px;
  padding: 30px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  line-height: 30px;
  text-align: center;
}

.not-dev__btns {
  display: flex;
  justify-content: center;
}

.not-dev__exit-btn {
  background-color: #13CF58;
}

/* Экран игры */

.game-screen {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.game__block {
  width: 870px;
  min-height: 300px;
  background-color: #ffffff;
  border-radius: 26px;
  color: #002A54;
  margin-bottom: 30px;
  padding: 70px 30px 80px;
}

.game__progress {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.game__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__expr {
  font-size: 130px;
}

.game__expr-text {
  margin: 0;
  margin-top: auto;
  font-size: 30px;
}

.game-screen__btns {
  display: flex;
  justify-content: center;
}

.game-screen__exit-btn {
  margin-right: 30px;
  background-color: transparent;
  /*border: 2px solid #2699FB;
  color: #2699FB;*/
  border: 2px solid #BEE0FF;
  color: #BEE0FF;
  opacity: 0.7;
  /*background-color: #80066f;*/
}

.game-screen__next-btn {
  background-color: #2699FB;
}

/* Экран настроек */

.settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.settings__form {
  display: flex;
  flex-direction: column;
  width: 960px;
  /*min-height: 640px;*/
  padding: 40px;
  background-color: #ffffff;
  border-radius: 26px;
  color: #002A54;
}

.settings__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.settings__group {
  background-color: #F1F9FF;
  border-radius: 10px;
  padding: 20px;
}

.settings__subtitle {
  margin: 0;
  margin-bottom: 25px;
}

.regime {
  flex-grow: 1;
  margin-right: 20px;
}

.regime__wrap {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.regime__wrap label:first-child {
  margin-bottom: 10px;
}

.multiplier {
  width: 66%;
  flex-grow: 1;
}

.multiplier__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.multiplier__group label {
  margin-bottom: 10px;
}

.multiplier__text {
  margin-right: 50px;
}

.multiplier__all-wrap {
  display: flex;
  justify-content: center;
}

.multiplier__all {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: black;
  text-transform: uppercase;
}

.multiplier__group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.multiplier__lbl {
  width: 110px;
}

.present {
  width: 49%;
  /*display: flex;
  justify-content: space-between;*/
}

.infinite {
  width: 49%;
  /*display: flex;
  justify-content: center;*/
}

.settings__submit-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /*margin-top: auto;*/
  /*align-self: flex-end;*/
}

.game__btn {
  width: 295px;
  height: 48px;
  padding: 11px 50px 13px;
  border-radius: 24px;
  font-size: 18px;
  text-transform: none;
}

.settings__submit-btn {
  background-color: #13CF58;
}

.settings__reset-btn {
  background-color: brown;
  margin-right: 20px;
}
