html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #2870BB;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: white;
  font-weight: 400;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.btn {
  background-color: gray;
  border: none;
  border-radius: 5px;
}

.btn__act {
  padding: 10px 20px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

/** {
  outline: 1px solid gray;
}*/

.page__header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page__title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 400;
  color: white;
}

.settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.settings__title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #BEE0FF;
}

.settings__form {
  display: flex;
  flex-direction: column;
  width: 960px;
  min-height: 640px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 26px;
  color: #002A54;
}

.settings__wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.settings__group {
  background-color: #F1F9FF;
  border-radius: 10px;
  padding: 20px;
}

.settings__subtitle {
  margin: 0;
  margin-bottom: 25px;
}

.regime {
  margin-right: 20px;
}

.multiplier__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.multiplier__text {
  margin-right: 50px;
}

.multiplier__all-wrap {
  display: flex;
  justify-content: center;
}

.multiplier__all {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: black;
}

.multiplier__group {
  width: 590px;
  display: flex;
  flex-wrap: wrap;
}

.multiplier__lbl {
  width: 110px;
}

.present {
  display: flex;
  justify-content: space-between;
}

.infinite {
  display: flex;
  justify-content: center;
}

.settings__submit-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  /*align-self: flex-end;*/
}

.settings__submit-btn {
  width: 295px;
  height: 48px;
  background-color: #13CF58;
  padding: 11px 50px 13px;
  border-radius: 24px;
  font-size: 18px;
  text-transform: none;
}

.settings__reset-btn {
  background-color: brown;
  margin-right: 20px;
}
